<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @artist.name %>
<ul>
  <% @artist.songs.each do |s| %>
    <li><%= link_to s.title, song_path(s) %></li>
  <% end %>
</ul>
</p>

<%= link_to 'Edit', edit_artist_path(@artist) %> |
<%= link_to 'Back', artists_path %>
